<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Google Search Engine Settings -->
    <add key="Google.BaseUrl" value="https://www.google.com/search" />
   

    <!-- Bing Search Engine Settings -->
    <add key="Bing.BaseUrl" value="https://www.bing.com/search" />


    <!-- Yahoo Search Engine Settings -->
    <add key="Yahoo.BaseUrl" value="https://search.yahoo.com/search" />
    <!-- Timeout -->
    <add key="Timeout" value="10000" />
    <add key="ContentTypeApi" value="application/json" />
    <add key="ContentTypeDefault" value="application/x-www-form-urlencoded" />
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36" />
  </appSettings>
</configuration>