<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Google Search Engine Settings -->
    <add key="Google.BaseUrl" value="https://www.google.com/search" />
   

    <!-- Bing Search Engine Settings -->
    <add key="Bing.BaseUrl" value="https://www.bing.com/search" />


    <!-- Yahoo Search Engine Settings -->
    <add key="Yahoo.BaseUrl" value="https://search.yahoo.com/search" />
    <!-- Timeout -->
    <add key="Timeout" value="10000" />
  </appSettings>
</configuration>